<form action="/Formalite/Connexion" method="post">
    <label>Nom</label>
    <input type="text" name="nom" value="jean">
    <label>Prenom</label>
    <input type="text" name="prenom" value="jean">
    <label>email</label>
    <input type="email" name="email" value="email">
    <label>mot de passe</label>
    <input type="password" name="password" value="11111">
    <label>Region</label>
    <select name="region">
        <option value="1">Analamanga</option>
        <option value="2">Itasy</option>
        <option value="3">Analanjirofo</option>
        <option value="4">Alaotra mangoro</option>
    </select>
    <input type="submit">
</form>   
