<h1>Se connecter</h1>
<form action="/Formalite/Accueil" method="post">
    <label>email</label>
    <input type="email" name="email" value="a@gmail.com">
    <label>mot de passe</label>
    <input type="password" name="password" value="1111">
    <input type="submit">
</form>
@Html.ActionLink("S'incrire", "Inscription", "Formalite", new { id = 123 })